body{
    font-family: 'Source Sans Pro',sans-serif;
    margin: 0;
}
.header{
    background-color: #1b2127;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 76px;
    flex-wrap: wrap;
}
.header menu{
    height: inherit;
}
.header ul{
    height: inherit;
    display: flex;
}
.header ul li{
    height: inherit;
    list-style: none;
    padding: 0px 10px;
    font-size: 16px;
}
.header ul li a:hover{
    text-decoration: underline;
}
.header a{
    height: inherit;
    color: white;
    text-decoration: none;
    margin: 0px;
    display: flex;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
}
h2{
    color: #026fff;
    text-transform: uppercase;
    font-family: 'Source Sans Pro',sans-serif;
    font-weight: bold;
    font-size: 25px;
}
.container{
    max-width: 1000px;
    flex: 1;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
}
.portafolio{
    background-color: #fafafa;
    padding: 20px;
}
.certification{
    border: 1px solid grey;
    border-radius: 10px;
    display: flex;
    padding: 25px;
    margin-bottom: 15px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.certification_details-title{
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 0;
}
.certification_details-platform, .certification_details-date, .certification_details-url{
    margin: 10px 0px;
}
.certification_details{
    width: 50%;
}
.certification_imageContainer{
    width: auto;
    margin-right: 0px;
}
.certification_details-description{
    font-size: 20px;
}
.certification_imageContainer img{
    max-width: 100%;
}
.event_list_title{
    margin-left: 1em;
}
.event_list{
    display: flex;
    flex-wrap: wrap;
}
.event{
    margin: 1%;
    width: 48%;
    border-radius: 10px;
    overflow: hidden;
    border-radius: 10px;
    background: #f4fbff;
}
.event_imageContainer{
    width: 100%;
}
figure{
    margin: 0px;
}
.event img{
    width: 480px;
    height: 250px;
    object-fit: cover;
}
.event_detail{
    margin: 20px 40px;
    margin-top: -50px;
    background-color: white;
    position: relative;
    text-align: center;
    padding: 20px;
}
.event_description{
    text-align: left;
    margin-bottom: 24px;
}
.event_url{
    border: 1px solid;
    padding: 5px 20px;
    border-radius: 5px;
    color: #026fff;
    text-decoration: none;
}





/* -------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width: 1024px){
    
}
@media screen and (max-width: 767px){
    h2{
        font-size: 23px;
        margin-bottom: 21px;
    }
    .header{
        display: block;
        height: auto;
    }
    .logo{
        text-align: center;
    }
    .header ul{ 
        display: block;
        padding: 0px;
        margin: 0 auto;
    }
    .header a{
        justify-content: center;
        padding: 6px;
        text-decoration: underline;
        margin-bottom: .2em;
    }
    .header .logo{
        margin: auto;
        text-align: center;
    }

    .certification{
        display: block;
        padding-bottom: 15px;
    }
    .certification_imageContainer{
        width: auto;
        text-align: center;
        margin-left: 0px;
    }
    .certification_details{
        width: auto;
    }
    .certification_imageContainer{
        width: auto;
    }
    .certification_details-platform, .certification_details-date, .certification_details-url{
        margin: .3em 0px;
    }
    .certification_details-title{
        font-size: 1.5em;
        margin-bottom: 0.3em;
    }
    .certification_details-url{
        font-size: 1em;
    }
    .certification_details-platform{
        font-size: .7em;
    }
    .certification_details-description{
        font-size: .8em; 
    }
    .event_list{
        display: block;
        margin: 0em 1em;
    }
    .event{
        width: auto;
        flex-shrink: initial;
    }
    .event img{
        width: 100%;
    }
    .event_detail{
        /* margin: -40px 10px 10px 10px; */
        /* 1em = 16px */
        margin: -2em .5em .5em;
        padding: 1em;
    }
}
@media screen and (max-width: 480px){
    .certification_details{
        font-size: 17px;
    }
}
@media screen and (max-width: 320px){
    .certification_details{
        font-size: 12px;
    }
}